
.portfolioTitle {
    border-bottom: 1px solid black;
    padding-top: 10px;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    transition: .1s ease-in-out;
}

.workExperience {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 3px;
    text-align: left;
    background: var(--color2);
    border: 2px solid var(--color3);
    box-shadow: 3px 3px 3px var(--color1);
    color: black;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.calc {
    width: 50%;
}

@media (min-width: 768px) {
    .portfolioTitle {
        font-size: 30px;
    }
    .workExperience {
        width: 90%;
        height: 95%;
        padding-left: 30px;
        padding-top: 15px;
    }
}

@media (min-width: 1000px) {
    .portfolioContainer {
        display: grid;
        grid-template-columns: auto auto;
    }
    .workExperience {
        margin-bottom: 40px;
        padding-left: 50px;
        padding-top: 15px;
    }
}

@media (min-width: 1400px) {
    .portfolioContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}